.empty-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.empty-section--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
* {
  max-width: unset;
}
[data-gjs-type="heading"] {
  font-family: "DM Sans";
  font-weight: inherit;
}
[data-gjs-type="text"] {
  font-family: Rubik;
  font-weight: inherit;
}
#il8p72 {
  color: rgb(255, 255, 255);
}
#id0422 {
  color: rgb(255, 255, 255);
}
#is6i {
  row-gap: 0px;
  column-gap: 0px;
}
#iwi9 {
  background-color: rgb(0, 0, 0);
  padding-top: 0px;
  padding-bottom: 0px;
}
#il4g {
  padding-top: 10px;
  padding-bottom: 20px;
}
#i40pl {
  padding-left: 100px;
  padding-right: 100px;
}
#itl54 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-decoration-line: underline;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  margin-top: 10px;
  margin-bottom: 5px;
}
#iq1oh {
  justify-content: flex-start;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 20px;
}
#inhm3 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
}
#ittcj {
  row-gap: 0px;
  column-gap: 0px;
}
#ixkgl {
  font-size: 14px;
  line-height: 28px;
  margin-top: 10px;
  text-align: center;
  color: rgb(92, 92, 92);
}
#i746k {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
}
#iwtmg {
  margin-top: 20px;
  font-size: 18px;
  line-height: 28px;
}
#ibt16 {
  font-size: 15px;
  line-height: 28px;
  width: 100%;
  color: rgb(228, 228, 228);
  text-align: center;
}
#ixl56 {
  width: 100%;
  font-family: Rubik;
  font-size: 16px;
  line-height: 20px;
  background-color: rgb(0, 150, 97);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#ihqanm {
  background-color: rgb(0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
}
#ieyahf {
  flex-direction: column;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
  row-gap: 20px;
  column-gap: 20px;
}
#isqq2f {
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
#i9js0h {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
}
#itrrcd {
  margin-top: 10px;
  line-height: 32px;
  font-size: 24px;
}
#iwjxct {
  margin-top: 20px;
  width: 100%;
  font-family: Rubik;
  font-size: 32px;
  line-height: 48px;
  background-color: rgb(0, 150, 97);
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(0, 0, 0);
  border-right-color: rgb(0, 0, 0);
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: rgb(0, 0, 0);
}
#i5v81g {
  color: rgb(255, 255, 255);
}
#ih1t2w {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
#idt40g {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#is6n2i {
  margin-top: 10px;
  line-height: 32px;
  font-size: 16px;
}
#i11qzk {
  font-size: 15px;
}
#icmow4 {
  height: 78px;
  object-fit: contain;
  width: 84px;
}
#i8gnpk {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
#ic4sge {
  height: 110px;
  object-fit: contain;
}
#ibzyep {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  row-gap: 10px;
  column-gap: 10px;
}
#ig3guz {
  color: rgb(255, 255, 255);
}
#ie4mil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  row-gap: 30px;
  column-gap: 30px;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  background-image: url("");
}
#ie83px {
  color: rgb(255, 255, 255);
}
#iuabqg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  row-gap: 30px;
  column-gap: 30px;
}
#idz7gq {
  background-color: transparent;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
#ilqq5y {
  background-color: transparent;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
#iezacl {
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 15px;
}
#ixacnf {
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
#igd6zj {
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
#itqx7r {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#ikzhkn {
  background-color: transparent;
  color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: white;
}
#iyjbtb {
  color: rgb(255, 255, 255);
}
#iiurbj {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  row-gap: 30px;
  column-gap: 30px;
}
#ilg5re {
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
}
#iltevg {
  border-top-width: initial;
  border-right-width: initial;
  border-bottom-width: initial;
  border-left-width: initial;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 15px;
}
#iqub0g {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
#i6elt9 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#ig9m4v {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#iv1b6f {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#is63ot {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#iw5usw {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#ikxnee {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-top: 20px;
}
#ie1n4n {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#i72qyu {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-top: 20px;
}
#itgqpr {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#icpfv6 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
#ice6wq {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-top: 20px;
}
#i9oy5j {
  height: 522px;
  object-fit: contain;
}
@media (max-width: 992px) {
  #i40pl {
    padding-left: 10px;
    padding-right: 10px;
  }
  #ixkgl {
    font-size: 16px;
  }
  #iwtmg {
    font-size: 16px;
  }
  #ibt16 {
    font-size: 16px;
  }
  #iq1oh {
    padding-left: 20px;
    padding-right: 20px;
  }
  #idt40g {
    font-size: 16px;
  }
  #itqx7r {
    font-size: 16px;
  }
  #i6elt9 {
    font-size: 16px;
  }
  #ig9m4v {
    font-size: 16px;
  }
  #iv1b6f {
    font-size: 16px;
  }
  #is63ot {
    font-size: 16px;
  }
  #iw5usw {
    font-size: 16px;
  }
  #ie1n4n {
    font-size: 16px;
  }
  #itgqpr {
    font-size: 16px;
  }
  #icpfv6 {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  #il4g {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #i40pl {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #itl54 {
    font-size: 18px;
    line-height: 28px;
  }
  #inhm3 {
    font-size: 24px;
    line-height: 32px;
  }
  #ixl56 {
    font-size: 24px;
    line-height: 32px;
  }
  #ixkgl {
    font-size: 15px;
  }
  #iwjxct {
    font-size: 24px;
    line-height: 32px;
  }
  #ih1t2w {
    font-size: 20px;
    line-height: 32px;
  }
  #i9js0h {
    font-size: 14px;
  }
  #iqub0g {
    font-size: 20px;
    line-height: 32px;
  }
  #ikxnee {
    font-size: 20px;
    line-height: 32px;
  }
  #i72qyu {
    font-size: 20px;
    line-height: 32px;
  }
  #ice6wq {
    font-size: 20px;
    line-height: 32px;
  }
}
