/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


      #ibxn {
        padding-bottom: 0px;
        padding-top: 0;
      }
      #i1rq {
        padding-bottom: 0px;
        padding-top: 0px;
      }
      #iog1 {
        padding-bottom: 0px;
        padding-top: 0px;
      }
      #iwwt {
        padding-bottom: 0px;
        padding-top: 0px;
      }
      #ilrs {
        padding-bottom: 0px;
        padding-top: 0px;
      }
      * {
        max-width: unset;
      }
      #iddrjk {
        font-size: 18px;
      }
      #iqwzq2p {
        margin-top: 0px;
      }
      #igh9bx {
        font-weight: bold;
      }
      #imlkzo {
        font-size: 14px;
      }
      #i8szz5 {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      #i6efip {
        font-size: 18px;
        margin-bottom: 9px;
      }
      #i96n0t {
        font-size: 24px;
      }
      #iwee8p {
        font-size: 18px;
      }
      #ilpru6 {
        font-size: 18px;
      }
      #iak2ne5 {
        font-size: 18px;
      }
      #iwjxct {
        margin-bottom: 9px;
      }
      #i9t7wv8 {
        margin-top: 0px;
      }
      #igj4t8e {
        font-size: 18px;
      }
      #ih1t2w {
        font-family: Rubik;
        margin-bottom: 9px;
      }
      #ido4c3 {
        font-family: Rubik;
        margin-top: 10px;
      }
      #iqub0g {
        font-family: Rubik;
        margin-bottom: 10px;
      }
      #ikxnee {
        font-family: Rubik;
        margin-bottom: 10px;
      }
      #i72qyu {
        font-family: Rubik;
      }
      #ik3ndw {
        font-family: Rubik;
        margin-bottom: 10px;
      }
      #itrrcd {
        font-size: 23px;
      }
      #ixl56 {
        font-size: 19px;
      }
      #i5hfwf {
        height: 285px;
        object-position: 88% 49%;
      }
      #i3giz3 {
        height: 544px;
      }
      #ie7vc8 {
        font-family: Rubik;
        margin-bottom: 10px;
      }
      #ioy2n2 {
        margin-bottom: 15px;
      }
      #ibrggv {
        margin-bottom: 15px;
      }
      #ivlyxu {
        margin-bottom: 15px;
      }
      #ioayx4 {
        margin-bottom: 15px;
      }
      #i9kw0l {
        font-family: Rubik;
        font-size: 22px;
      }
      #i3o9ko {
        font-family: Rubik;
        font-size: 22px;
        margin-bottom: 9px;
      }
      #ixl45k {
        font-size: 18px;
        margin-top: 10px;
      }
      #ijp9wh {
        font-family: Rubik;
        font-size: 22px;
        margin-bottom: 9px;
      }
      #ipxsuj {
        font-size: 18px;
        margin-bottom: 11px;
      }
      #i96358 {
        font-size: 18px;
      }
      #i1bj3t {
        font-size: 18px;
      }
      #i7znyr {
        font-weight: bold;
      }
      #ilz1fv {
        font-family: Rubik;
        margin-bottom: 9px;
        margin-top: 10px;
      }
      #id6nb2 {
        font-size: 18px;
      }
      #ij75wi {
        font-size: 18px;
      }
      #il86cn {
        font-size: 18px;
      }
      #izd31d {
        font-size: 18px;
      }
      #i2u3nx {
        font-family: Rubik;
        margin-bottom: 9px;
        margin-top: 10px;
      }
      #i2gm4h {
        font-family: Rubik;
        margin-bottom: 9px;
        margin-top: 10px;
      }
      #iuu8zy {
        font-size: 18px;
      }
      #ihon4b {
        object-position: 52% 100%;
        height: 464px;
        margin-bottom: 10px;
      }
      #inho42 {
        height: 446px;
      }
      #iai48f {
        height: 441px;
      }
      #ilupk7 {
        margin-bottom: 10px;
      }
      #itqx7r {
        margin-bottom: 10px;
      }
      #iap8cf {
        margin-bottom: 10px;
      }
      #ianmpf {
        height: 664px;
      }
      #ipl9ja {
        margin-bottom: 10px;
      }
      @media (max-width: 992px) {
        #ilrs {
          padding-bottom: 77.882px;
          padding-top: 0px;
        }
        #iwwt {
          padding-bottom: 77.882px;
          padding-top: 0px;
        }
        #iog1 {
          padding-bottom: 77.882px;
          padding-top: 0px;
        }
        #iun65i {
          color: rgb(0, 150, 97);
          background-color: rgba(0, 0, 0, 0);
        }
        #i9zfvj {
          background-color: rgb(0, 150, 97);
          font-family: Rubik;
          font-size: 20px;
        }
        #ibxn {
          padding-bottom: 77.88195037841797px;
          padding-top: 0;
        }
      }
      @media (max-width: 576px) {
        #ilrs {
          padding-bottom: 76.7708px;
          padding-top: 0px;
        }
        #iwwt {
          padding-bottom: 76.7708px;
          padding-top: 0px;
        }
        #iog1 {
          padding-bottom: 76.7708px;
          padding-top: 0px;
        }
        #i9js0h {
          margin-bottom: 0px;
          margin-top: 0px;
        }
        #imlkzo {
          font-size: 14px;
        }
        #inhm3 {
          font-size: 26px;
        }
        #i8szz5 {
          font-size: 16px;
        }
        #itqx7r {
          font-size: 18px;
        }
        #ih1t2w {
          font-size: 22px;
        }
        #iqub0g {
          font-size: 22px;
          margin-top: 10px;
        }
        #ikxnee {
          font-size: 22px;
        }
        #i72qyu {
          font-size: 22px;
        }
        #ik3ndw {
          font-size: 22px;
        }
        #i6efip {
          font-size: 18px;
        }
        #iij7p8 {
          font-size: 22px;
          margin-bottom: 10px;
        }
        #iwee8p {
          font-size: 18px;
        }
        #i96n0t {
          font-size: 22px;
          margin-bottom: 10px;
        }
        #ilpru6 {
          font-size: 18px;
        }
        #iak2ne5 {
          font-size: 16px;
        }
        #igj4t8e {
          font-size: 18px;
        }
        #itrrcd {
          font-size: 22px;
        }
        #ido4c3 {
          font-size: 22px;
        }
        #iun65i {
          background-color: rgba(0, 0, 0, 0);
        }
        #i9zfvj {
          background-color: rgb(0, 150, 97);
          font-family: Rubik;
          font-size: 19px;
        }
        #ie7vc8 {
          font-size: 22px;
        }
        #ivlyxu {
          object-fit: cover;
          width: 372px;
          object-position: 98% 31%;
          height: 86px;
        }
        #ioayx4 {
          object-position: 94% 49%;
          height: 88px;
        }
        #i3wxnq {
          object-position: 99% 47%;
          height: 98px;
        }
        #i5v81g {
          text-align: center;
        }
        #i9kw0l {
          font-size: 22px;
        }
        #i3o9ko {
          font-size: 22px;
        }
        #ixl45k {
          font-size: 18px;
        }
        #ijp9wh {
          font-size: 22px;
        }
        #i1bj3t {
          font-size: 18px;
        }
        #ilz1fv {
          font-size: 22px;
        }
        #izd31d {
          font-size: 18px;
        }
        #i2u3nx {
          font-size: 22px;
        }
        #i2gm4h {
          font-size: 22px;
        }
        #iuu8zy {
          font-size: 18px;
        }
        #idt40g {
          font-size: 18px;
        }
        #i3giz3 {
          height: 243px;
        }
        #ibxn {
          padding-bottom: 76.77083587646484px;
          padding-top: 0;
        }
        #ihon4b {
          height: 236px;
        }
        #id0u4l {
          margin-bottom: 10px;
        }
        #ianmpf {
          height: 292px;
        }
        #iai48f {
          height: 252px;
        }
        #inho42 {
          height: 219px;
        }
      }

      