/* ----------------------- ROW & ROW_COLUMN STYLES -------------- */

/* Grid container */
[data-gjs-type="row"] {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

/* Base styling for all columns */
[data-gjs-type='row-col'] {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

/* Desktop Column: using data-col attribute */
[data-desktop-cols="1"]  { grid-column: span 1; }
[data-desktop-cols="2"]  { grid-column: span 2; }
[data-desktop-cols="3"]  { grid-column: span 3; }
[data-desktop-cols="4"]  { grid-column: span 4; }
[data-desktop-cols="5"]  { grid-column: span 5; }
[data-desktop-cols="6"]  { grid-column: span 6; }
[data-desktop-cols="7"]  { grid-column: span 7; }
[data-desktop-cols="8"]  { grid-column: span 8; }
[data-desktop-cols="9"]  { grid-column: span 9; }
[data-desktop-cols="10"] { grid-column: span 10; }
[data-desktop-cols="11"] { grid-column: span 11; }
[data-desktop-cols="12"] { grid-column: span 12; }

/* Tablet Column: using data-tablet-col attribute (max-width: 992px) */
@media (max-width: 992px) {
  [data-tablet-cols="1"]  { grid-column: span 1; }
  [data-tablet-cols="2"]  { grid-column: span 2; }
  [data-tablet-cols="3"]  { grid-column: span 3; }
  [data-tablet-cols="4"]  { grid-column: span 4; }
  [data-tablet-cols="5"]  { grid-column: span 5; }
  [data-tablet-cols="6"]  { grid-column: span 6; }
  [data-tablet-cols="7"]  { grid-column: span 7; }
  [data-tablet-cols="8"]  { grid-column: span 8; }
  [data-tablet-cols="9"]  { grid-column: span 9; }
  [data-tablet-cols="10"] { grid-column: span 10; }
  [data-tablet-cols="11"] { grid-column: span 11; }
  [data-tablet-cols="12"] { grid-column: span 12; }
}

/* Mobile Column: using data-mobile-col attribute (max-width: 576px) */
@media (max-width: 576px) {
  [data-mobile-cols="1"]  { grid-column: span 1; }
  [data-mobile-cols="2"]  { grid-column: span 2; }
  [data-mobile-cols="3"]  { grid-column: span 3; }
  [data-mobile-cols="4"]  { grid-column: span 4; }
  [data-mobile-cols="5"]  { grid-column: span 5; }
  [data-mobile-cols="6"]  { grid-column: span 6; }
  [data-mobile-cols="7"]  { grid-column: span 7; }
  [data-mobile-cols="8"]  { grid-column: span 8; }
  [data-mobile-cols="9"]  { grid-column: span 9; }
  [data-mobile-cols="10"] { grid-column: span 10; }
  [data-mobile-cols="11"] { grid-column: span 11; }
  [data-mobile-cols="12"] { grid-column: span 12; }
}

/* ------------------------ BASIC STYLES ------------------------ */
.ll-section {
    padding: 0;
    padding-inline: 2% !important;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50px !important;
    height: auto !important;
    background-repeat: no-repeat;
  }
  
  .ll-section .ll-container:not(:first-child) {
    margin-top: 20px;
  }
  
  .ll-section img {
    max-width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  
  .ll-gallery-image {
    height: 300px;
    width: auto;
  }
  
  .ll-container {
    max-width: 1240px;
    margin: 0 auto;
    min-height: 50px !important;
    width: 100%;
    background-repeat: no-repeat;
  }
  
  .ll-container > * {
    max-width: 100%;
  }
  
  .ll-container p,
  .ll-container h1,
  .ll-container h2,
  .ll-container h3,
  .ll-container h4,
  .ll-container h5,
  .ll-container h6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    max-width: 100%;
  }
  
  .ll-container [data-gjs-type='ll-form'],
  .ll-container [data-gjs-type='button'] {
    max-width: 100%;
  }

  p b,
  p strong,
  h1 b,
  h1 strong,
  h2 b,
  h2 strong,
  h3 b,
  h3 strong,
  h4 b,
  h4 strong,
  h5 b,
  h5 strong,
  h6 b ,
  h6 strong,
  span b,
  span strong {
    font-weight: bold !important;
  }

  .rte-text-left {
    text-align: left !important;
  }
  .rte-text-right {
    text-align: right !important;
  }
  .rte-text-center {
    text-align: center !important;
  }
  
  /* hidden */
  @media screen and (min-width: 993px) {
    [data-ll-hidden-device*='d'] {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 577px) and (max-width: 993px) {
    [data-ll-hidden-device*='t'] {
      display: none !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    [data-ll-hidden-device*='m'] {
      display: none !important;
    }
  }
  
  /* hidden */
  @media screen and (min-width: 993px) {
    .ll-container--big {
      width: 90%;
      max-width: 90%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .ll-section {
      padding-inline: 2%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .ll-section {
      padding-inline: 4%;
    }
  }
  
  /* ------------------------ TEXT BLOCK ------------------------ */
  .ll-text-block {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
  }
  /* ------------------------ EMPTY BLOCK ------------------------ */
  /* ------------------------ EMPTY BLOCK ------------------------ */
  .ll-empty-block[empty='true'] {
    padding: 20px;
    height: max-content;
    width: 100%;
  }
  
  .ll-empty-block {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
  }
  
  /* ------------------------ BACKGOUND IMAGE OVERLAY ------------------------ */
  /* LEGACY: NOT SUPPORTED NOW */
  div.bg-overlay,
  section.bg-overlay,
  footer.bg-overlay {
    position: relative;
  }
  
  [ll-navbar-position='fixed'].bg-overlay {
    position: fixed;
  }
  
  div.bg-overlay::before,
  section.bg-overlay::before,
  footer.bg-overlay::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: inherit;
  }
  
  div.bg-overlay > *,
  section.bg-overlay > *,
  footer.bg-overlay > * {
    z-index: 2;
    position: relative;
  }
  
  /* ------------------------ Images Dropped From Gallery && Image Dropped from elements ------------------------ */
  .ll-gallery__images__image,
  .ll-image {
    display: inline-block;
    width: 100%;
    object-fit: cover;
    height: auto;
  }
  
  
  /* ------------------------ ICON ------------------------ */
  /* ------------------------ ICON ------------------------ */
  /* ------------------------ ICON ------------------------ */
  /* ------------------------ ICON ------------------------ */
  div[data-gjs-type='icon']{
    width: 30px;
    height: 30px;
  }

  div[data-gjs-type='icon'] svg {
    height: 100%;
    width: 100%;
  }

  
  /* ------------------------ SOCIALS ------------------------ */
  /* ------------------------ SOCIALS ------------------------ */
  /* ------------------------ SOCIALS ------------------------ */
  /* ------------------------ SOCIALS ------------------------ */
  [data-gjs-type='socials'] {
    width: min-content;
    height: auto;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 3px;
  }
  
  [data-gjs-type='socials'] a img {
    display: block;
    height: 40px;
    width: 40px;
  }
  
  /* Social Icon Visiblity */
  [data-gjs-type='socials'] a {
    display: none;
  }
  
  [data-gjs-type='socials'] a[visible='true'] {
    display: block;
  }
  
  /* Wrapper Size */
  [data-gjs-type='socials'][size='s'] {
    height: 30px;
  }
  
  [data-gjs-type='socials'][size='m'] {
    height: 40px;
  }
  
  [data-gjs-type='socials'][size='l'] {
    height: 60px;
  }
  
  /* Links Size */
  [data-gjs-type='socials'][size='s'] a {
    height: 30px;
    width: 30px;
  }
  
  [data-gjs-type='socials'][size='m'] a {
    height: 40px;
    width: 40px;
  }
  
  [data-gjs-type='socials'][size='l'] a {
    height: 60px;
    width: 60px;
  }
  
  /* Img Size */
  [data-gjs-type='socials'][size='s'] a img {
    height: 30px;
    width: 30px;
  }
  
  [data-gjs-type='socials'][size='m'] a img {
    height: 40px;
    width: 40px;
  }
  
  [data-gjs-type='socials'][size='l'] a img {
    height: 60px;
    width: 60px;
  }
  
  /* ------------------------ EMOJI  ------------------------ */
  [data-gjs-type='emoji'] {
    height: 44px;
    width: min-content;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    display: inline-block;
  }
  
  [data-gjs-type='emoji'] svg {
    display: inline-block;
    width: auto;
    height: 100%;
  }
  
  /* ------------------------ POPUP  ------------------------ */
  /* ------------------------ POPUP  ------------------------ */
  /* ------------------------ POPUP  ------------------------ */
  /* ------------------------ POPUP  ------------------------ */
  /* reseter */
  [ll-modal-wrapper] * {
    box-sizing: border-box;
  }
  
  [ll-modal-wrapper] h6,
  [ll-modal-wrapper] h5,
  [ll-modal-wrapper] h4,
  [ll-modal-wrapper] h3,
  [ll-modal-wrapper] h2,
  [ll-modal-wrapper] h1,
  [ll-modal-wrapper] p {
    margin: 0;
  }
  
  /* popup wrapper */
  body:has([ll-modal-wrapper].visible) {
    overflow: hidden;
  }
  
  [ll-modal-wrapper] {
    height: 0px;
    width: 0px;
  }
  
  /* popup close */
  [ll-modal-close] {
    position: fixed;
    z-index: 1002;
    right: 20px;
    top: 20px;
    height: 27px;
    width: 27px;
    display: none;
    cursor: pointer;
  }
  
  [ll-modal-close] svg {
    height: 100%;
    width: auto;
  }
  
  [ll-modal-wrapper].visible [ll-modal-close] {
    display: block;
  }
  
  /* popup backdrop */
  [ll-modal-wrapper] [ll-modal-backdrop] {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.45);
  }
  
  [ll-modal-wrapper].visible [ll-modal-backdrop] {
    display: block;
  }
  
  /* popup content */
  [ll-modal-content].bg-overlay {
    position: absolute !important;
  }
  
  [ll-modal-content] {
    position: fixed !important;
    z-index: 10001;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
  
    max-height: calc(100vh - 70px) !important;
    max-width: calc(100vw - 100px) !important;
    min-height: 100px !important;
    min-width: 250px !important;
  
    height: max-content;
  
    overflow-x: auto;
    overflow-y: auto;
  
    background-color: white;
    color: black;
  
    box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 12px;
    box-sizing: border-box;
  
    display: flex;
    flex-direction: row;
  
    padding: 10px;
  
    opacity: 0;
    visibility: hidden;
  
    transition: all 0.1s ease-in-out;
  }
  
  [ll-modal-content]  * {
      max-width: 100%
  }
  
  
  
  [ll-modal-wrapper].visible [ll-modal-content] {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  
  @media screen and (max-width: 992px) {
    [ll-modal-content] {
      max-width: calc(100vw - 70px) !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    [ll-modal-content] {
      max-width: calc(100vw - 20px) !important;
      width: 100% !important;
    }
  }
  
  /* ------------------------ OLD FORM  ------------------------ */
  /* ------------------------ OLD FORM  ------------------------ */
  /* ------------------------ OLD FORM  ------------------------ */
  /* ------------------------ OLD FORM  ------------------------ */
  .landerlab-form * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .landerlab-form {
    background-color: transparent;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: inherit, sans-serif;
    color: blue;
    max-width: 100%;
    min-width: min-content;
    font-size: 14px;
    text-align: start;
  
    width: 100%;
  }
  
  .landerlab-form [form-wrapper] {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .landerlab-form [form-input-wrapper] {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 100%;
  }
  
  .landerlab-form [form-input] {
    width: 100%;
  }
  
  .landerlab-form [form-input]::placeholder {
    color: lightgray;
  }
  
  /* LABEL */
  .landerlab-form [form-input-label] {
    color: currentColor;
    text-align: inherit;
  }
  
  .landerlab-form [form-input-label][required]::after {
    content: '*';
  }
  
  /* CHECKBOX */
  .landerlab-form [form-input-checkbox] {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px !important;
    color: rgb(30, 30, 30);
  }
  
  .landerlab-form [form-input-checkbox] input {
    transform: scale(1.1);
    margin-left: 3px;
    width: auto;
  }
  
  .landerlab-form [form-input-checkbox] [form-input-label] {
    color: currentColor;
    text-align: start;
  }
  
  /* RADIO */
  .landerlab-form [form-input-radio] {
    display: flex;
    flex-direction: column;
  }
  
  .landerlab-form [form-input-radio] input {
    transform: scale(1.1);
    width: auto;
  }
  
  .landerlab-form [form-input-radio-title] {
    margin: 0;
    margin-bottom: 6px;
  }
  
  .landerlab-form [form-input-radio-wrapper] {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 3px;
    color: currentColor;
  }
  
  .landerlab-form [form-input-radio-inline] {
    display: flex;
    gap: 5px;
    color: rgb(30, 30, 30);
  }
  
  /* FORM INPUT */
  .landerlab-form [form-input] {
    padding-inline: 16px !important;
    padding-block: 10px !important;
    border-radius: 4px;
    font-size: inherit;
    border: 1px solid #dcdcdc;
    color: rgb(30, 30, 30);
  }
  
  .landerlab-form [form-input]:focus-visible {
    outline: none;
  }
  
  .landerlab-form select option {
    color: rgb(30, 30, 30);
  }
  
  /* FORM LABELS */
  .landerlab-form [form-input-label] {
    display: none;
    max-width: 100%;
    width: 100%;
    text-align: left;
  }
  
  .landerlab-form [form-input-radio] [form-input-label],
  .landerlab-form [form-input-checkbox] [form-input-label] {
    display: inline-block;
  }
  
  .landerlab-form[form-labels] [form-input-label] {
    display: block;
  }
  
  .left-labels [form-input-label] {
    width: 25%;
    min-width: 25%;
  }
  
  .left-labels [form-input-radio] [form-input-label] {
    width: auto;
    max-width: auto;
    min-width: auto;
  }
  
  .left-labels [form-input-wrapper][form-input-radio] {
    flex-direction: column;
    gap: 0 !important;
  }
  
  .left-labels [form-input-wrapper] {
    display: flex;
    flex-direction: row;
  }
  
  .landerlab-form[form-size='s'].left-labels [form-input-wrapper] {
    gap: 10px !important;
  }
  
  .landerlab-form[form-size='m'].left-labels [form-input-wrapper] {
    gap: 10px !important;
  }
  
  .landerlab-form[form-size='l'].left-labels [form-input-wrapper] {
    gap: 10px !important;
  }
  
  /* FORM SIZE S */
  .landerlab-form[form-size='s'] [form-wrapper] {
    gap: 10px;
  }
  
  .landerlab-form[form-size='s'] [form-input-wrapper] {
    gap: 3px !important;
  }
  
  .landerlab-form[form-size='s'] [form-input],
  .landerlab-form[form-size='s'] [form-input-label] {
    font-size: inherit;
  }
  
  /* FORM SIZE M */
  .landerlab-form[form-size='m'] [form-wrapper] {
    gap: 20px;
  }
  
  .landerlab-form[form-size='m'] [form-input-wrapper] {
    gap: 5px !important;
  }
  
  /* .landerlab-form[form-size='m'] [form-input],
  .landerlab-form[form-size='m'] [form-input-label] {
    font-size: 16px;
  } */
  /* FORM SIZE L */
  .landerlab-form[form-size='l'] [form-wrapper] {
    gap: 24px;
  }
  
  .landerlab-form[form-size='l'] [form-input-wrapper] {
    gap: 7px !important;
  }
  
  /* .landerlab-form[form-size='l'] [form-input],
  .landerlab-form[form-size='l'] [form-input-label] {
    font-size: 18px;
  } */
  
  /* ------------------------ NEW FORM ------------------------ */
/* ------------------------ NEW FORM ------------------------ */
/* ------------------------ NEW FORM ------------------------ */
/* ------------------------ NEW FORM ------------------------ */
.ll-form * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ll-form {
  width: 100%;
  padding: 0;
  max-width: 100%;
  font-family: inherit;
  min-width: min-content;
  text-align: start;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr;
  color: rgb(30, 30, 30);
  background-color: transparent;
  gap: 14px;
  font-weight: 400;
  box-sizing: border-box;
}

.ll-form .ll-btn {
  padding: 13px 32px;
  font-size: 16px;
  background-color: rgb(30, 30, 30);
}

/* input wrapper */
.ll-form__input-w {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

/* input checkbox wrapper */
.ll-form__input-w--ch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.ll-form__input-w--ch .ll-form__input-l,
.ll-form__input-w--ch-g .ll-form__input-l-ch .ll-form__input-l {
  margin: 0;
  margin-left: 10px;
  font-family: inherit;
}

/* input radio wrapper */
.ll-form__input-w--r {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 20px;
}

/* input checkbox group wrapper */
.ll-form__input-w--ch-g {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 0 20px;
}

.ll-form__input-l-ch {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
}

.ll-form__input-l-ch input {
  transform: scale(1.2);
}

.ll-form__input-l-ch:last-of-type {
  margin-bottom: 0;
}

/* Label styling */
.ll-form__input-l {
  color: currentColor;
  width: 100% !important;
  margin-bottom: 4px;
  font-size: 16px;
  font-family: inherit;
}

/* Input styling */
.ll-form__input-i,
.ll-form__input-textarea,
.ll-form__input-date {
  display: block;
  width: 100%;
  padding: 10px 16px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  color: rgb(30, 30, 30);
  font-family: inherit;
  font-size: 16px;
}

.ll-form__input-i::placeholder,
.ll-form__input-textarea::placeholder {
  color: lightgray;
  font-weight: 300;
}

.ll-form__input-textarea {
  resize: none;
  height: 80px;
}

.ll-form__input-i:focus,
.ll-form__input-i:focus-visible,
.ll-form__input-i:active,
.ll-form__input-textarea:focus,
.ll-form__input-textarea:focus-visible,
.ll-form__input-textarea:active,
.ll-form__input-date:focus,
.ll-form__input-date:focus-visible,
.ll-form__input-date:active {
  outline: none;
  border-color: blue !important;
}

/* Input styling checkbox */
.ll-form__input-ch {
  transform: scale(1.2);
}

/* Input styling radio */
.ll-form__input-l-r {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-family: inherit;
}

.ll-form__input-l-r input {
  transform: scale(1.2);
}

.ll-form__input-w--r > * :not(first-child),
.ll-form__input-w--ch > .ll-form__input-l {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

[data-input-wrapper='hidden'] {
  display: none !important;
}

/* horizontal form */
.ll-form[data-form-layout='horizontal'] {
  grid-template-columns: 1fr 1fr;
}

.ll-form[data-form-layout='horizontal'] .ll-form__input-w--r,
.ll-form[data-form-layout='horizontal'] .ll-form__input-w--ch {
  grid-column: span 2;
}

.ll-form[data-form-layout='horizontal'] button,
.ll-form[data-form-layout='horizontal'] [data-input-wrapper='html'] {
  grid-column: span 2;
}

@media screen and (max-width: 576px) {
  .ll-form[data-form-layout='horizontal'] {
    grid-template-columns: 1fr !important;
  }
  .ll-form[data-form-layout='horizontal'] .ll-form__input-w--r,
  .ll-form[data-form-layout='horizontal'] .ll-form__input-w--ch {
    grid-column: 1 !important;
  }

  .ll-form[data-form-layout='horizontal'] button,
  .ll-form[data-form-layout='horizontal'] [data-input-wrapper='html'] {
    grid-column: 1 !important;
  }
}

/* NO LABEL */
.ll-form[data-form-label='false'] .ll-form__input-w .ll-form__input-l {
  display: none;
}

/* SIZES FORM */
.ll-form[data-form-size='s'] {
  gap: 13px;
}

.ll-form[data-form-size='s'] .ll-form__input-l {
  font-size: 14px;
  font-weight: normal;
}

.ll-form[data-form-size='s'] .ll-form__input-i,
.ll-form[data-form-size='s'] .ll-form__input-date,
.ll-form[data-form-size='s'] .ll-form__input-textarea {
  font-size: 14px;
  font-weight: normal;
  padding: 8px;
}

.ll-form[data-form-size='s'] .ll-btn {
  padding: 10px 32px;
  font-size: 14px;
}

.ll-form[data-form-size='s'] .ll-form__input-textarea {
  height: 60px;
}

.ll-form[data-form-size='l'] {
  gap: 22px;
}

.ll-form[data-form-size='l'] .ll-btn {
  padding: 15px 32px;
  font-size: 18px;
}

.ll-form[data-form-size='l'] .ll-form__input-l {
  font-size: 18px;
}

.ll-form[data-form-size='l'] .ll-form__input-i,
.ll-form[data-form-size='l'] .ll-form__input-date,
.ll-form[data-form-size='l'] .ll-form__input-textarea {
  font-size: 16px;
  padding: 12px;
}

.ll-form[data-form-size='l'] .ll-form__input-textarea {
  height: 100px;
}

/* Theme Bordered */
.ll-form[data-from-theme='bordered'] .ll-form__input-i,
.ll-form[data-from-theme='bordered'] .ll-form__input-date,
.ll-form[data-from-theme='bordered'] .ll-form__input-textarea {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #b6b6b6;
  padding-inline: 0;
}

/* FORM SUBMIT STYLES */
[ll-submit-popup] {
  position: fixed;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  display: grid;
  place-content: center;

  z-index: 1000;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}

[ll-submit-popup].visible {
  opacity: 1;
}

[ll-submit-popup] * {
  margin: 0;
}

[ll-submit-popup] svg {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
}

[ll-submit-popup] > div {
  padding: 35px 50px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  min-width: 300px;
  min-height: 180px;

  text-align: center;
  margin: 0 15px;
  transform: scale(0);
  transition: all 0.1s ease-in-out;
}

[ll-submit-popup].visible > div {
  transform: scale(1);
}

[ll-submit-popup] h3 {
  font-size: 23px;
  color: #222222;
}

[ll-submit-popup] p {
  font-size: 16px;
  color: #555555;
}

/* Tel Input styling */
.iti {
  width: 100%;
}

.iti .iti__flag-box {
	margin-left: 10px;
}

.iti.iti--fullscreen-popup {
  z-index: 99999 !important;
}

.iti--inline-dropdown .iti__country-list {
  max-height: 250px !important;
}

.iti__dropdown-content {
  border: none !important;
  min-width: 263px;
}

.iti__dropdown-content .iti__search-input {
  padding: 16px 20px !important;
  border-bottom: 1px solid #d7d7ec;
}

.iti__dropdown-content li {
  font-family: inherit;
  padding: 10.5px 20px;
  font-size: 14px;
  height: unset !important;
  overflow: hidden;
  color: black !important;
  transition: none;
}

.iti__dropdown-content li:hover {
  background: rgb(236, 236, 236);
}

  
  /* ------------------------ RATING ------------------------ */
  /* ------------------------ RATING ------------------------ */
  /* ------------------------ RATING ------------------------ */
  /* ------------------------ RATING ------------------------ */
  [ll-rating-wrapper='true'] {
    padding: 0px;
    box-sizing: unset;
    color: #d1b000;
    height: auto;
    display: inline-block;
    width: min-content;
  }
  
  [data-ll-rating] {
    position: relative;
    display: inline-block;
    width: min-content;
    padding: 0;
    color: inherit;
    height: min-content;
  }
  
  [data-ll-rating] [ll-rating-filled] {
    width: 92%;
  }
  
  [data-ll-rating] > div {
    display: flex;
    gap: 10px;
  }
  
  [data-ll-rating] [ll-rating-filled] {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* DEFAULT STAR STYLING */
  [data-ll-rating] [ll-rating-default] > div,
  [data-ll-rating] [ll-rating-filled] > div {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background: currentColor;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  [data-ll-rating] [ll-rating-default] > div {
    opacity: 0.3;
  }
  
  /* -------------- NAVBAR -------------- */
  /* -------------- NAVBAR -------------- */
  /* -------------- NAVBAR -------------- */
  /* -------------- NAVBAR -------------- */
  [ll-navbar='true'] {
    width: 100%;
    padding: 0;
    position: relative;
    background-color: white;
    color: black;
    font-size: 16px;
  }
  
  /* LOGO */
  [ll-navbar] [ll-navbar-logo-wrapper] {
    height: 44px;
    width: auto;
  }
  
  [ll-navbar-logo] {
    height: 44px;
    max-height: 44px;
    width: auto;
  }
  
  [ll-navbar-nologo='true'] [ll-navbar-logo] {
    display: none;
  }
  
  [ll-navbar-nologo='true'] [ll-navbar-logo-wrapper] {
    height: 44px;
    width: 44px;
  }
  
  /* Shadow */
  [ll-navbar-shadow='true'] {
    box-shadow: 0 1px 25px 1px rgba(69, 65, 78, 0.15);
  }
  
  /* Position */
  [ll-navbar-position='fixed'] {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  [ll-navbar-position='overlay'] {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  [ll-navbar='true'] [ll-navbar-container] {
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px 20px;
  }
  
  /* Size */
  [ll-navbar-size='s'] [ll-navbar-container] {
    padding: 5px 20px !important;
  }
  
  [ll-navbar-size='m'] [ll-navbar-container] {
    padding: 15px 20px !important;
  }
  
  [ll-navbar-size='l'] [ll-navbar-container] {
    padding: 25px 20px !important;
  }
  
  /* FULL WIDTH */
  [ll-navbar-full='true'] [ll-navbar-container] {
    max-width: 100%;
  }
  
  [ll-navbar='true'] [ll-navbar-wrapper] {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  [ll-navbar='true'] [ll-navbar-header] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  [ll-navbar='true'] [ll-navbar-header] a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* LIST */
  [ll-navbar-links-wrapper] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
  }
  
  [ll-navbar-link] {
    color: currentColor;
    text-decoration: none;
    font-size: inherit;
    cursor: pointer;
    padding: 5px;
  }
  
  /* Fixed Div In The back when navbar is posiiton fixed */
  [ll-navbar-fixed-div='s'] {
    height: 54px;
    background-color: transparent;
  }
  
  [ll-navbar-fixed-div='m'] {
    height: 74px;
    background-color: transparent;
  }
  
  [ll-navbar-fixed-div='l'] {
    height: 94px;
    background-color: transparent;
  }
  
  /* TOGGLER */
  [ll-navbar='true'] [ll-navbar-toggler] {
    display: none;
    cursor: pointer;
    padding: 8px 0;
    color: currentColor;
  }
  
  [ll-navbar='true'] [ll-navbar-toggler] > div {
    width: 28px;
    height: 2px;
    background: currentColor;
    margin: 5px 0;
    transition: 0.4s;
    color: currentColor;
    pointer-events: none;
  }
  
  [ll-navbar='true'] [expanded='true'] [ll-navbar-toggler] .bar1 {
    transform: rotate(45deg);
    margin-bottom: -15px;
  }
  
  [ll-navbar='true'] [expanded='true'] [ll-navbar-toggler] .bar2 {
    display: none;
  }
  
  [ll-navbar='true'] [expanded='true'] [ll-navbar-toggler] .bar3 {
    transform: rotate(-45deg);
    margin-top: 13px;
  }
  
  /* LAYOUT */
  [ll-navbar-layout='left'] [ll-navbar-wrapper] {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 992px) {
    /* TOGGLER */
    [ll-navbar='true'] [ll-navbar-toggler] {
      display: inline-block;
    }
  
    [ll-navbar='true'] [data-gjs-type='llbutton'] {
      max-width: min-content !important;
    }
  
    [ll-navbar='true'] [ll-navbar-container] {
      max-width: 100%;
    }
  
    [ll-navbar='true'] [ll-navbar-container][expanded='true'] {
      height: 100%;
    }
  
    [ll-navbar-size='s'] [ll-navbar-container][expanded='true'] {
      height: calc(100vh - 10px);
    }
  
    [ll-navbar-size='m'] [ll-navbar-container][expanded='true'] {
      height: calc(100vh - 30px);
    }
  
    [ll-navbar-size='l'] [ll-navbar-container][expanded='true'] {
      height: calc(100vh - 50px);
    }
  
    [ll-navbar='true'] [ll-navbar-header] {
      width: 100%;
    }
  
    [ll-navbar='true'] [ll-navbar-links] {
      display: none;
    }
  
    [ll-navbar='true'] [expanded='true'] [ll-navbar-links] {
      display: block;
    }
  
    [ll-navbar-links] {
      height: calc(100vh - 88px);
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    [ll-navbar] [ll-navbar-wrapper] {
      flex-direction: column;
    }
  
    [ll-navbar-links-wrapper] {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 50px 0px;
    }
  
    [ll-navbar-link] {
      font-size: 22px;
      padding: 0;
    }
  
    /* LAYOUT */
    [ll-navbar-layout='left'] [ll-navbar-wrapper] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  
    [ll-navbar-layout='left'] [ll-navbar-header] {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;
    }
  }
  
  /* ------------------------ OLD BUTTON  ------------------------ */
  /* ------------------------ OLD BUTTON  ------------------------ */
  /* ------------------------ OLD BUTTON  ------------------------ */
  /* ------------------------ OLD BUTTON  ------------------------ */
  [data-gjs-type='llbutton'] {
    width: max-content;
    min-width: max-content;
    position: relative;
    max-width: 100%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    border: 1px solid transparent;
    transition: box-shadow 0.15s ease-in-out;
    display: grid;
    place-items: center;
    font-size: 16px;
    padding: 8px 20px;
    min-height: min-content;
  }
  
  [data-gjs-type='llbutton'][ll-btn-type='fill'] {
    background-color: #007aff;
    color: white;
  }
  
  [data-gjs-type='llbutton'][ll-btn-type='outline'] {
    background-color: transparent;
    color: #007aff;
    border: 1px solid #007aff;
  }
  
  [data-gjs-type='llbutton']:hover {
    box-shadow: inset 0 0 10000px rgba(105, 75, 75, 0.1);
  }
  
  [data-gjs-type='llbutton'][ll-btn-type='link'] {
    color: #007aff;
  }
  
  [data-gjs-type='llbutton'][ll-btn-fullwidth='true'] {
    min-width: 100%;
  }
  /* ------------------------ NEW BUTTON ------------------------ */
  /* ------------------------ NEW BUTTON ------------------------ */
  /* ------------------------ NEW BUTTON ------------------------ */
  /* ------------------------ NEW BUTTON ------------------------ */
  .ll-btn {
    min-width: min-content;
    max-width: 100%;
    width: max-content;
    min-height: min-content;
    text-decoration: none !important;
    background-color: blue;
    color: white;
  
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  
    border: none;
  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  
    font-size: 16px;
    padding: 12px 40px;
  
    transition: box-shadow 0.15s ease-in-out;
  }
  
  @media screen and (max-width: 576px) {
    .ll-btn{
      gap: 5px;
    }
  }

  .ll-btn.ll-btn--full {
    width: 100% !important;
  }
  
  .ll-btn:hover,
  .ll-btn:focus {
    color: white;
    box-shadow: inset 0 0 10000px rgba(0, 0, 0, 0.1);
  }
  
  .ll-btn div[data-gjs-type='icon'] {
    height: 28px;
    width: 28px;
    flex-shrink: 0;
  }
  
  /* ------------------------ NEWSLETTER ------------------------ */
  /* ------------------------ NEWSLETTER ------------------------ */
  /* ------------------------ NEWSLETTER ------------------------ */
  /* ------------------------ NEWSLETTER ------------------------ */
  .landerlab-newsletter * {
    box-sizing: border-box;
    margin: 0;
  }
  
  .landerlab-newsletter {
    padding: 10px;
    box-sizing: border-box;
    font-family: inherit;
  
    display: flex;
    align-items: center;
    gap: 10px;
  
    width: 100%;
    min-width: min-content;
    min-height: min-content;
    max-width: 100% !important;
  
    background-color: transparent;
  }
  
  .landerlab-newsletter__input {
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #ffffff;
    transition: all 0.1s ease;
    height: 100%;
    width: 100%;
  
    padding: 10px 16px;
    border-radius: 4px;
    border: 1px solid #dcdcdc;
    color: rgb(30, 30, 30);
    font-family: inherit;
    font-size: 16px;
    height: 40px !important;
    margin:0 !important;
  }
  
  .landerlab-newsletter__input::placeholder {
    color: lightgray;
  }
  
  .landerlab-newsletter__input:focus,
  .landerlab-newsletter__input:focus-visible,
  .landerlab-newsletter__input:active {
    outline: none;
    border-color: blue !important;
  }
  
  .landerlab-newsletter__btn {
    padding: 10px 22px;
    font-size: 16px;
    background-color: rgb(30, 30, 30);
    height: 40px !important;
    margin:0 !important;
  }
  
  /* SIZES NEWSLETTER */
  .landerlab-newsletter[ll-newsletter-size='s'] {
    gap: 6px;
  }
  
  .landerlab-newsletter[ll-newsletter-size='s'] .landerlab-newsletter__input {
    font-size: 14px;
    font-weight: normal;
    padding: 8px;
    height: 35px !important;
  }
  
  .landerlab-newsletter[ll-newsletter-size='s'] .landerlab-newsletter__btn {
    padding: 8px 20px;
    font-size: 14px;
    height: 35px !important;
  }
  
  .landerlab-newsletter[ll-newsletter-size='l'] {
    gap: 20px;
  }
  
  .landerlab-newsletter[ll-newsletter-size='l'] .landerlab-newsletter__input {
    font-size: 18px;
    font-weight: normal;
    padding: 12px;
    height: 45px !important;
  }
  
  .landerlab-newsletter[ll-newsletter-size='l'] .landerlab-newsletter__btn {
    padding: 12px 28px;
    font-size: 18px;
    height: 45px !important;
  }
  
  /* BORDERED */
  .landerlab-newsletter[data-from-theme='bordered'] .landerlab-newsletter__input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #b6b6b6;
    padding-inline: 0;
  }
  
  /* new newsletter styles */
  .ll-newsletter * {
    box-sizing: border-box;
    margin: 0;
  }
  
  .ll-newsletter {
    padding: 12px;
    border-radius: 0;
    box-sizing: border-box;
    font-family: inherit;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
  
    width: 100%;
    min-width: min-content;
    min-height: min-content;
    max-width: 100% !important;
  }
  
  .ll-newsletter-input {
    flex-grow: 1;
    flex-shrink: 1;
    /* box-sizing: content-box; */
    border: 1px solid lightgray;
    background-color: #fff;
    padding: 9px 25px;
    font-size: 16px;
    transition: all 0.1s ease;
    border-radius: 0;
    height: 100%;
    width: 100%;
  }
  
  .ll-newsletter-input:hover,
  .ll-newsletter-input:focus,
  .ll-newsletter-input:focus-visible {
    outline: 1px solid rgb(149, 213, 255);
  }
  
  .ll-newsletter button {
    border-radius: 0;
    height: 100%;
    background-color: #e06a8a;
    padding: 9px 25px;
    font-size: 16px;
    font-weight: normal;
    width: 100px;
  }
  
  /* ------------------------ COLLAPSE ------------------------ */
  /* ------------------------ COLLAPSE ------------------------ */
  /* ------------------------ COLLAPSE ------------------------ */
  /* ------------------------ COLLAPSE ------------------------ */
  .ll-collapse * {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .ll-collapse {
    overflow: hidden;
    height: min-content;
    width: 100%;
    margin-block: 10px;
  }
  
  .ll-collapse-header {
    display: flex;
    align-items: center;
    padding: 12px 14px;
    background-color: #f3f3f3;
    cursor: pointer;
    width: 100%;
    position: relative;
    z-index: 5;
    outline-offset: -2px !important;
  }
  
  .ll-collapse-header > * {
    max-width: calc(100% - 40px);
  }
  
  .ll-collapse-heading {
    padding: 0;
    margin: 0;
    font-size: 17px;
    font-weight: 500;
  }
  
  .ll-collapse .ll-collapse-close-icon[data-gjs-type='icon'] {
    position: absolute;
    right: 20px;
    height: 20px;
    width: 20px;
    max-height: 35px !important;
    max-width: 35px !important;
    transition: all 0.2s ease;
  }

  .ll-collapse .ll-collapse-close-icon[data-gjs-type='icon'] svg {
    height: 100% !important;
    width: auto !important;
  }
  
  .ll-collapse-body {
    flex-direction: column;
    margin: 0;
    border: 1px solid #f3f3f3;
    padding: 14px;
    display: none;
    transition: all 0.2s ease;
    outline-offset: -2px !important;
  }
  
  .ll-collapse-body * {
    max-width: 100%;
  }
  
  .ll-collapse.expanded > .ll-collapse-body {
    display: block;
  }
  
  .ll-collapse.expanded
    > .ll-collapse-header
    > .ll-collapse-close-icon[data-gjs-type='icon'] {
    transform: rotate(-90deg);
  }
  
  .ll-collapse-body-text {
    margin: 0;
    padding: 0;
  }
  
  /* STICKY BAR */
  /* STICKY BAR */
  /* STICKY BAR */
  [data-gjs-type='sticky-bar'] {
    position: fixed !important;
    min-height: max-content !important;
    z-index: 999 !important;
  
    margin: 0 !important;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    font-size: inherit;
    font-family: inherit;
  }
  
  [data-gjs-type='sticky-bar'][data-sticky-bar-full] {
    width: 100vw !important;
    left: 0 !important;
    right: 0 !important;
  }
  [data-gjs-type='sticky-bar'][data-sticky-bar-vertical='top'] {
    top: 0 !important;
  }
  [data-gjs-type='sticky-bar'][data-sticky-bar-vertical='bottom'] {
    bottom: 0 !important;
  }
  [data-gjs-type='sticky-bar'][data-sticky-bar-horizontal='left'] {
    left: 0 !important;
  }
  [data-gjs-type='sticky-bar'][data-sticky-bar-horizontal='center'] {
    left: 50% !important;
    transform: translateX(-50%);
  }
  [data-gjs-type='sticky-bar'][data-sticky-bar-horizontal='right'] {
    right: 0 !important;
  }
  [data-sticky-bar-container='true'] {
    max-width: 100%;
    width: 96% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: 992px) {
    [data-gjs-type='sticky-bar'] {
      width: 100vw !important;
    }
  }
  
  @media screen and (max-width: 576px) {
    [data-sticky-bar-container='true'] {
      width: 94% !important;
    }
  }
  
  /* Animation on scroll */
  [data-sticky-bar-scroll] {
    transition: all 0.25s ease-in-out;
  }
  /* bottom animation */
  [data-sticky-bar-scroll][data-sticky-bar-vertical='bottom'][data-sticky-bar-horizontal='center'] {
    transform: translateY(100%) translateX(-50%);
  }
  [data-sticky-bar-scroll][data-sticky-bar-vertical='bottom'][data-sticky-bar-horizontal='center'].visible {
    transform: translateY(0) translateX(-50%);
  }
  
  [data-sticky-bar-scroll][data-sticky-bar-vertical='bottom'][data-sticky-bar-horizontal='left'],
  [data-sticky-bar-scroll][data-sticky-bar-vertical='bottom'][data-sticky-bar-horizontal='right'] {
    transform: translateY(100%);
  }
  [data-sticky-bar-scroll][data-sticky-bar-vertical='bottom'][data-sticky-bar-horizontal='left'].visible,
  [data-sticky-bar-scroll][data-sticky-bar-vertical='bottom'][data-sticky-bar-horizontal='right'].visible {
    transform: translateY(0);
  }
  /* top animation */
  [data-sticky-bar-scroll][data-sticky-bar-vertical='top'][data-sticky-bar-horizontal='center'] {
    transform: translateY(-100%) translateX(-50%);
  }
  [data-sticky-bar-scroll][data-sticky-bar-vertical='top'][data-sticky-bar-horizontal='center'].visible {
    transform: translateY(0) translateX(-50%);
  }
  
  [data-sticky-bar-scroll][data-sticky-bar-vertical='top'][data-sticky-bar-horizontal='left'],
  [data-sticky-bar-scroll][data-sticky-bar-vertical='top'][data-sticky-bar-horizontal='right'] {
    transform: translateY(-100%);
  }
  [data-sticky-bar-scroll][data-sticky-bar-vertical='top'][data-sticky-bar-horizontal='left'].visible,
  [data-sticky-bar-scroll][data-sticky-bar-vertical='top'][data-sticky-bar-horizontal='right'].visible {
    transform: translateY(0);
  }
  
  .ll-sticky-bar--1 {
    background-color: #fce801;
    padding-top: 17px;
    padding-bottom: 17px;
    width: 700px;
    text-align: center;
  }
  
  .ll-sticky-bar--1 p,
  .ll-sticky-bar--1 h6,
  .ll-sticky-bar--1 h5,
  .ll-sticky-bar--1 h4,
  .ll-sticky-bar--1 h3,
  .ll-sticky-bar--1 h2,
  .ll-sticky-bar--1 h1 {
    margin: 0;
  }
  
  .ll-sticky-bar--1-container {
    gap: 17px;
  }
  
  .ll-sticky-bar--1-btn {
    padding: 10px 25px;
    background-color: rgb(30, 30, 30);
    color: white;
    border-radius: 5px;
    width: max-content;
  }
  
  [data-sticky-bar-scroll] {
    opacity: 0;
    pointer-events: none;
  }
  
  [data-sticky-bar-scroll].visible {
    opacity: 1 !important;
    pointer-events: all;
  }
  
  @media screen and (max-width: 576px) {
    .ll-sticky-bar--1-container {
      flex-direction: column;
    }
  }
  
  /* GRID */
  /* GRID */
  /* GRID */
  /* GRID */
  [data-gjs-type='grid'] {
    width: 100%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    height: auto;
    padding: 15px;
    gap: 12px;
    align-items: center;
    box-sizing: border-box;
  }
  
  [data-gjs-type='grid'] [data-gjs-type='grid-cell'] {
    min-height: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    box-sizing: border-box;
  }

  [data-gjs-type='grid'] [data-gjs-type='grid-cell'] > *{
    max-width: 100%;
  }
  
  [data-gjs-type='grid'][data-columns='12'] {
    grid-template-columns: minmax(0, 12fr);
  }
  [data-gjs-type='grid'][data-columns='6-6'] {
    grid-template-columns: minmax(0, 6fr) minmax(0, 6fr);
  }
  [data-gjs-type='grid'][data-columns='4-4-4'] {
    grid-template-columns: minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);
  }
  [data-gjs-type='grid'][data-columns='3-3-3-3'] {
    grid-template-columns: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(
        0,
        3fr
      );
  }
  [data-gjs-type='grid'][data-columns='2-2-2-2-2-2'] {
    grid-template-columns:
      minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr)
      minmax(0, 2fr) minmax(0, 2fr);
  }
  [data-gjs-type='grid'][data-columns='3-9'] {
    grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
  }
  [data-gjs-type='grid'][data-columns='9-3'] {
    grid-template-columns: minmax(0, 8fr) minmax(0, 4fr);
  }
  
  @media screen and (max-width: 992px) {
    [data-gjs-type='grid'][data-columns-t='12'] {
      grid-template-columns: minmax(0, 12fr);
    }
    [data-gjs-type='grid'][data-columns-t='6-6'] {
      grid-template-columns: minmax(0, 6fr) minmax(0, 6fr);
    }
    [data-gjs-type='grid'][data-columns-t='4-4-4'] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);
    }
    [data-gjs-type='grid'][data-columns-t='6-6'] {
      grid-template-columns: minmax(0, 6fr) minmax(0, 6fr);
    }
    [data-gjs-type='grid'][data-columns-t='4-4-4'] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);
    }
    [data-gjs-type='grid'][data-columns-t='3-3-3-3'] {
      grid-template-columns: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(
          0,
          3fr
        );
    }
    [data-gjs-type='grid'][data-columns-t='2-2-2-2-2-2'] {
      grid-template-columns:
        minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr)
        minmax(0, 2fr) minmax(0, 2fr);
    }
    [data-gjs-type='grid'][data-columns-t='3-9'] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
    }
    [data-gjs-type='grid'][data-columns-t='9-3'] {
      grid-template-columns: minmax(0, 8fr) minmax(0, 4fr);
    }
  }
  
  @media screen and (max-width: 576px) {
    [data-gjs-type='grid'][data-columns-m='12'] {
      grid-template-columns: minmax(0, 12fr);
    }
    [data-gjs-type='grid'][data-columns-m='6-6'] {
      grid-template-columns: minmax(0, 6fr) minmax(0, 6fr);
    }
    [data-gjs-type='grid'][data-columns-m='4-4-4'] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);
    }
    [data-gjs-type='grid'][data-columns-m='6-6'] {
      grid-template-columns: minmax(0, 6fr) minmax(0, 6fr);
    }
    [data-gjs-type='grid'][data-columns-m='4-4-4'] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);
    }
    [data-gjs-type='grid'][data-columns-m='3-3-3-3'] {
      grid-template-columns: minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(
          0,
          3fr
        );
    }
    [data-gjs-type='grid'][data-columns-m='2-2-2-2-2-2'] {
      grid-template-columns:
        minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr)
        minmax(0, 2fr) minmax(0, 2fr);
    }
    [data-gjs-type='grid'][data-columns-m='3-9'] {
      grid-template-columns: minmax(0, 4fr) minmax(0, 8fr);
    }
    [data-gjs-type='grid'][data-columns-m='9-3'] {
      grid-template-columns: minmax(0, 8fr) minmax(0, 4fr);
    }
  }
  
  .ll-section.ll-section__grid {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .ll-container.ll-container__grid {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* DATE PICKER */
  /* DATE PICKER */
  /* DATE PICKER */
  /* DATE PICKER */
  [data-gjs-type="date-picker"]{
    font-size: 16px;
      max-width: 100%;
    min-width: min-content;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    gap: .5em;
  }
  
  /* COUNTDOWN */
  /* COUNTDOWN */
  /* COUNTDOWN */
  /* COUNTDOWN */
  /* COUNTDOWN */
  .ll-countdown {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    min-width: min-content;
    min-height: max-content;
    width: max-content;
  }
  
  .ll-countdown * {
    box-sizing: border-box;
  }
  
  .ll-countdown[data-countdown-no-label] [data-countdown-label] {
    display: none;
  }
  
  .ll-countdown [data-countdown-label] {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }
  
  .ll-countdown [data-countdown-group-hidden] {
    display: none;
  }
  
  .ll-countdown [data-countdown-value] {
    display: grid;
    place-content: center;
  }
  
  .ll-countdown>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: min-content;
    flex: 1;
    opacity: 0;
  }
  
  .ll-countdown p {
    margin: 0;
    padding: 0;
  }
  
  .ll-countdown.ll-countdown-visible>div {
    opacity: 1;
  }
  
  
  /* SIZES */
  [data-countdown-size="s"] {
    gap: 0px;
    padding: 5px;
  }
  
  [data-countdown-size="s"] [data-countdown-label] {
    font-size: 12px;
    font-weight: normal;
  }
  
  [data-countdown-size="s"] [data-countdown-value] {
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
  
    width: 50px;
    height: 50px;
  }
  
  [data-countdown-size="s"] [data-countdown-group] {
    gap: 3px;
    width: 55px;
  }
  
  /* SIZES M*/
  [data-countdown-size="m"] {
    gap: 10px;
    padding: 10px;
  }
  
  [data-countdown-size="m"] [data-countdown-label] {
    font-size: 15px;
    font-weight: normal;
  }
  
  [data-countdown-size="m"] [data-countdown-value] {
    font-size: 35px;
    font-weight: bold;
    padding: 10px;
  
    width: 70px;
    height: 70px;
  }
  
  [data-countdown-size="m"] [data-countdown-group] {
    gap: 3px;
    width: 70px;
  }
  
  
  /* SIZES L*/
  [data-countdown-size="l"] {
    gap: 10px;
    padding: 10px;
  }
  
  [data-countdown-size="l"] [data-countdown-label] {
    font-size: 16px;
    font-weight: normal;
  
  }
  
  [data-countdown-size="l"] [data-countdown-value] {
    font-size: 55px;
    font-weight: bold;
    padding: 12px;
  
    width: 100px;
    height: 100px;
  
  }
  
  [data-countdown-size="l"] [data-countdown-group] {
    gap: 3px;
    width: 100px;
  }
  
  
  /* THEME 1 */
  .ll-countdown[data-countdown-theme="border-round"] {
    color: #181823;
  }
  
  .ll-countdown[data-countdown-theme="border-round"] [data-countdown-value] {
    border: 2px solid #181823;
    background-color: transparent;
    border-radius: 7px;
  }
  
  /* THEME 2 */
  .ll-countdown[data-countdown-theme="border-square"] {
    color: #181823;
  }
  
  .ll-countdown[data-countdown-theme="border-square"] [data-countdown-value] {
    border: 2px solid #181823;
    background-color: transparent;
    border-radius: 0px;
  }
  
  /* THEME 3 */
  .ll-countdown[data-countdown-theme="border-circle"] {
    color: #181823;
  }
  
  .ll-countdown[data-countdown-theme="border-circle"] [data-countdown-value] {
    border: 2px solid #181823;
    background-color: transparent;
    border-radius: 50%;
  }
  
  
  /* THEME 4 */
  .ll-countdown[data-countdown-theme="fill-round"] {
    color: #181823;
  }
  
  .ll-countdown[data-countdown-theme="fill-round"] [data-countdown-value] {
    border: none;
    color: white;
    background-color: #181823;
    border-radius: 7px;
  }
  
  /* theme 5 */
  .ll-countdown[data-countdown-theme="fill-square"] {
    color: #181823;
  }
  
  .ll-countdown[data-countdown-theme="fill-square"] [data-countdown-value] {
    border: none;
    color: white;
    background-color: #181823;
    border-radius: 0px;
  }
  
  /* theme 6 */
  .ll-countdown[data-countdown-theme="fill-circle"] {
    color: #181823;
  }
  
  .ll-countdown[data-countdown-theme="fill-circle"] [data-countdown-value] {
    border: none;
    color: white;
    background-color: #181823;
    border-radius: 50%;
  }
  
  @media screen and (max-width: 576px) {
    [data-countdown-size="m"],
    [data-countdown-size="l"] {
      gap: 10px;
      padding: 10px;
    }
  
    [data-countdown-size="m"] [data-countdown-label],
    [data-countdown-size="l"] [data-countdown-label] {
      font-size: 15px;
      font-weight: normal;
    }
  
    [data-countdown-size="m"] [data-countdown-value],
    [data-countdown-size="l"] [data-countdown-value] {
      font-size: 35px;
      font-weight: bold;
      padding: 10px;
      width: 70px;
      height: 70px;
    }
  
    [data-countdown-size="l"] [data-countdown-group],
    [data-countdown-size="m"] [data-countdown-group] {
      gap: 3px;
    }
  }


  /* -------- Horizontal Line DEVIDER ------------ */
  /* -------- Horizontal Line DEVIDER ------------ */
  /* -------- Horizontal Line DEVIDER ------------ */
  /* -------- Horizontal Line DEVIDER ------------ */
  .ll-horizontal-line{
  	border: 1px solid #444444;
    min-width: 20px;
    max-width: 100%;
    margin: 0;
  }


  /* -------- Full Width Class ------------ */
  /* -------- Full Width Class ------------ */
  /* -------- Full Width Class ------------ */
  /* -------- Full Width Class ------------ */
  .ll-full-width{
    width: 100% !important;
  }


  /* -------- SPINING WHEEL ------------ */
  /* -------- SPINING WHEEL ------------ */
  /* -------- SPINING WHEEL ------------ */
  /* -------- SPINING WHEEL ------------ */
.ll-spinner {
  height: 450px;
  width: 450px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  color: black;
}

.ll-spinner > img {
  height: auto;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ll-spinner--spin > img {
  transform-origin: center;
  transition: all 5s cubic-bezier(0.44, -0.205, 0, 1.13);
}

.ll-spinner__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 23%;
  width: auto;
  aspect-ratio: 1;
  background-color: currentColor;
  border-radius: 50%;
}

.ll-spinner__arrow::after {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 20%;
  rotate: 45deg;
  background-color: currentColor;
}

.ll-spinner__arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 50%;
}

.ll-spinner__arrow i svg {
  height: 100%;
  width: auto;
}

[data-spinner-target] {
  display: none;
}


/* ------ Video ------ */
/* ------ Video ------ */
/* ------ Video ------ */
/* ------ Video ------ */
[data-gjs-type='ll-video'] {
  height: auto;
  width: 100%;
  max-width: 100%;
}

[data-gjs-type='ll-video'] iframe,
[data-gjs-type='ll-video'] video{
  width: 100%;
  height: 100%;
  min-width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  border: 0 !important;
  outline: 0 !important;
}


/* ------- CLICK EVENT -------- */
/* ------- CLICK EVENT -------- */
/* ------- CLICK EVENT -------- */
[data-ll-event] {
  cursor: pointer;
}

/* -------- CUSTOM CODE ------- */
/* -------- CUSTOM CODE ------- */
/* -------- CUSTOM CODE ------- */
div[data-gjs-type="custom-code"]{
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* -------- LINK ------- */
/* -------- LINK ------- */
/* -------- LINK ------- */
/* -------- LINK ------- */
*[data-ll-link] {
  text-decoration: none;
  color: unset;
  width: 100%;
}
  
  /* ------------------------ TEXT CONTENT ------------------------ */
  /* ------------------------ TEXT CONTENT ------------------------ */
  /* ------------------------ TEXT CONTENT ------------------------ */
  /* ------------------------ TEXT CONTENT ------------------------ */
  [data-gjs-type="text"].text-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  /* ------------------------ RSOC COLUMNS ------------------------ */
  /* ------------------------ RSOC COLUMNS ------------------------ */
  /* ------------------------ RSOC COLUMNS ------------------------ */
  /* ------------------------ RSOC COLUMNS ------------------------ */
  [data-gjs-type="rsoc-cols"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-block: 10px;
    width: 100%;
  }

  [data-gjs-type="rsoc-cols"] > div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media screen and (max-width: 993px) {
    [data-gjs-type="rsoc-cols"] {
      display: grid;
      grid-template-columns: 1fr;
    }
  }